html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

* {
    outline: none;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: "RobotoRegular", Helvetica, sans-serif;
    font-size: 14px;
    color: #303030;
    background: #fff;
}

html {
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.content {
    padding-bottom: 164px;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type="submit"],
input[type="button"],
input[type="search"],
button {
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input::-webkit-input-placeholder {
    color: #525C66;
    font-size: 13px;
}

input::-moz-placeholder {
    color: #525C66;
    font-size: 13px;
}

textarea::-webkit-input-placeholder {
    color: #525C66;
    font-size: 13px;
}

textarea::-moz-placeholder {
    color: #525C66;
    font-size: 13px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.hidden {
    display: none;
}


/*=======================================header======================================*/

.top_header {
    background: #D7DEE4;
    height: 200px;
    position: relative;
    font-size: 12px;
}

.inside_block {
    width: 1200px;
    margin: 0 auto;
}

.head_block_1 {
    height: 40px;
    border: 1px solid #B7C5D1;
    border-top: none;
    text-align: left;
    color: #5E697B;
}

.choose_country {
    display: inline-block;
    height: 100%;
    line-height: 40px;
    padding-left: 15px;
    position: relative;
}

.choose_country:after {
    content: "";
    display: block;
    position: absolute;
    right: -15px;
    top: 5px;
    width: 1px;
    height: 28px;
    background-color: #B7C5D1;
}

.cur_country {
    display: inline-block;
    color: #647CA2;
    text-decoration: underline;
    margin-left: 10px;
    margin-right: 5px;
    transition: all 0.3s;
}

.cur_country:hover {
    color: #43627b;
    transition: all 0.3s;
}

.cur_country:after {
    content: "";
    display: inline-block;
    width: 20px;
    margin-left: 2px;
    height: 21px;
    vertical-align: middle;
    background: url(../img/arrow_down_sm.png) 50% no-repeat;
    cursor: pointer;
    transition: all 0.3s;
}

.cur_country.open:after {
    transform: rotate(-180deg);
    transition: all 0.3s;
}

.choose_country_list {
    position: absolute;
    left: 64px;
    top: 39px;
    padding-left: 10px;
    padding-right: 15px;
    background-color: #D7DEE4;
    border: 1px solid #B7C5D1;
    border-top: none;
    z-index: 2;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

.top_menu {
    float: right;
    padding-right: 20px;
    cursor: pointer;
}

.top_menu li {
    display: inline-block;
    line-height: 40px;
}

.top_menu li a {
    display: inline-block;
    height: 100%;
    color: #5E697B;
    margin-left: 40px;
    transition: all 0.3s;
}

.top_menu li a:hover {
    color: #F53860;
    transition: all 0.3s;
}

.head_block_2 {
    height: 110px;
    position: relative;
}

.main_logo {
    display: inline-block;
    margin-top: 28px;
    margin-right: 25px;
}

.menu_logo {
    width: 120px;
    height: 50px;
}

.left_menu_button {
    position: absolute;
    top: 35px;
    left: 144px;
    display: inline-block;
    width: 48px;
    height: 36px;
    border: 1px solid #899BAA;
    border-radius: 3px;
    margin-bottom: 10px;
    cursor: pointer;
}

.left_menu_button:before {
    content: "";
    position: absolute;
    left: 14px;
    top: 11px;
    width: 18px;
    height: 2px;
    background: #647CA2;
    border-radius: 2px;
    box-shadow: 0 5px 0 0 #647CA2, 0 10px 0 0 #647CA2;
}

.left_menu_button:hover {
    border: 1px solid #43627b;
}

.left_menu_button:hover:before {
    background: #43627b;
    border-radius: 2px;
    box-shadow: 0 5px 0 0 #43627b, 0 10px 0 0 #43627b;
}

.left_menu_button.open:before {
    content: "×";
    width: 15px;
    height: 15px;
    box-shadow: none;
    background: none;
    color: #647CA2;
    font-size: 30px;
    left: 15px;
    top: 1px;
}

.search_block {
    float: right;
    background-color: #fff;
    height: 81px;
    margin-top: 14px;
    line-height: 81px;
    padding-left: 35px;
    padding-right: 25px;
}

.search_cont {
    display: inline-block;
    height: 40px;
    width: 700px;
    border: 1px solid #C9D2D9;
    border-right: none;
    vertical-align: middle;
}

.search__input {
    border: none;
    padding-left: 48px;
}

.head_search_form {
    height: 100%;
}

.head_search_form input,
.select_search {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    line-height: 40px;
}

.select_search {
    width: 250px;
    float: right;
    background-size: 13px;
    position: relative;
}
.select_search:after {
    content: "";
    display: block;
    width: 10px;
    height: 6px;
     background: url(../img/arrow_down_md.png) no-repeat;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -3px;
    z-index: 0;
    cursor: pointer;
      transition: all 0.2s;
}
.select_search.open:after {
    transform:rotate(-180deg);
      transition: all 0.2s;
}
.select_search:before {
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    top: 5px;
    width: 1px;
    height: 28px;
    background-color: #D7DEE4;

}

.select_search select {
    padding: 10px;
    padding-left: 13px;
    width: 100%;
    border: none;
    box-shadow: none;
    font-size: 13px;
    color: #525C66;
    background-color: transparent;
    background-image: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select_search select:focus {
    outline: none;
}

.head_search_form .search__submit {
    float: right;
    height: 40px;
    width: 140px;
    margin-top: -1px;
    text-align: center;
    color: #fff;
    background-color: #647CA2;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.head_search_form .search__submit:hover {
    background-color: #3665af;
    transition: all 0.3s;
}

.head_block_botm {
    background-color: #445061;
}

.head_block_3 {
    height: 50px;
    line-height: 50px;
}

.sale_btn {
    width: 140px;
    height: 32px;
    line-height: 32px;
    border: none;
    background-color: #EF6729;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
}

.sale_btn:hover {
    background-color: #ef5429;
    transition: all 0.3s;
}

.sale_btn:active {
    transform: translate(0, 2px);
    transition: all 0.3s;
}

.my_panel {
    display: inline-block;
    margin-left: 18px;
}

.my_panel li {
    display: inline-block;
    position: relative;
    margin-left: 10px;
}

.my_panel li a {
    display: block;
    height: 100%;
    color: #fff;
    padding-left: 32px;
    padding-right: 28px;
    position: relative;
    z-index: 2;
}

.my_panel li:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -12px;
    width: 25px;
    height: 25px;
}

.my_panel li:after {
    content: "";
    display: block;
    position: absolute;
    right: 0px;
    top: 11px;
    width: 1px;
    height: 28px;
    background-color: #7B8AA3;
}

.my_panel .my_msg a span {
    display: inline-block;
    width: 35px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background-color: #F53860;
}

.my_panel .bets .value,
.my_panel .lots .value,
.my_panel .my_msg .name,
.my_panel .star .name {
    display: none;
}

.my_panel li:nth-child(1):before {
    background: url(../img/sprite1.png) no-repeat 0px 50%;
}

.my_panel li:nth-child(2):before {
    background: url(../img/sprite1.png) no-repeat -30px 50%;
}

.my_panel li:nth-child(3):before {
    background: url(../img/sprite1.png) no-repeat -65px 50%;
}

.my_panel li:nth-child(4):before {
    background: url(../img/sprite1.png) no-repeat -100px 50%;
}

.my_panel li:nth-child(5):before {
    background: url(../img/sprite1.png) no-repeat -135px 50%;
}

.user_link {
    float: right;
}

.user_link li {
    display: inline-block;
    color: #fff;
}

.user_avtr {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-right: 10px;
}

.user_avtr img {
    vertical-align: middle;
}

.round a {
    display: block;
    height: 100%;
    color: #fff;
    padding-left: 25px;
    position: relative;
    z-index: 2;
}

.round a:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -12px;
    width: 25px;
    height: 25px;
    background: url(../img/sprite1.png) no-repeat -172px 50%;
}


/*=======================================header_____end======================================*/


/*=======================================main_content_____end======================================*/

.categories_block {
    height: 82px;
    font-size: 13px;
    padding-top: 27px;
}

.categ_list li {
    display: inline-block;
    width: 180px;
    height: 27px;
    vertical-align: top;
}

.categ_list .domestic {
    width: 150px;
}

.categ_list .else {
    width: 100px;
}

.categ_list li a {
    display: block;
    height: 100%;
    position: relative;
    padding-left: 51px;
    color: #303030;
    line-height: 1.4;
}

.categ_list .else {
    text-align: right;
}

.categ_list .else a {
    padding-left: 0;
    padding-right: 35px;
}

.categ_list li a:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 67%;
    margin-top: -14px;
    width: 46px;
    height: 28px;
}

.categ_list .else a:before {
    width: 23px;
    height: 23px;
}

.categ_list .else a:before {
    left: initial;
    right: 0;
}

.categ_list .avto a:before {
    background: url(../img/sprite1.png) no-repeat -205px 50%;
}

.categ_list .appliances a:before {
    background: url(../img/sprite1.png) no-repeat -255px 50%;
}

.categ_list .sports a:before {
    background: url(../img/sprite1.png) no-repeat -300px 50%;
}

.categ_list .jewelry a:before {
    background: url(../img/sprite1.png) no-repeat -346px 50%;
}

.categ_list .domestic a:before {
    background: url(../img/sprite1.png) no-repeat -390px 50%;
}

.categ_list .clothes a:before {
    background: url(../img/sprite1.png) no-repeat -437px 50%;
}

.categ_list .else a:before {
    background: url(../img/arrow_down_lg.png) no-repeat 50%;
}

.main_slider_block {
    height: 450px;
    background-color: #C8DBE3;
}

.left_bl {
    display: inline-block;
    vertical-align: top;
    width: 375px;
    color: #525C66;
}

.left_bl h1 {
    font-family: "RobotoBold";
    font-size: 47px;
    text-transform: uppercase;
    margin-top: 70px;
    margin-bottom: 35px;
}

.left_bl p.au_descr {
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 30px;
}

.main_sale_btn {
    display: block;
    width: 165px;
    height: 50px;
    line-height: 48px;
    border: none;
    color: #fff;
    text-align: center;
    font-family: "RobotoBold";
    font-size: 14px;
    text-transform: uppercase;
    background-color: #EF6729;
    cursor: pointer;
    transition: all 0.3s;
}

.main_sale_btn:hover {
    background-color: #ef5429;
    transition: all 0.3s;
}

.main_sale_btn:active {
    transform: translate(0, 3px);
    transition: all 0.3s;
}

.right_bl {
    display: inline-block;
    vertical-align: top;
}

.right_bl h2 {
    font-family: "RobotoBold";
    font-size: 17px;
    text-transform: uppercase;
    color: #303030;
    margin-top: 30px;
    margin-bottom: 20px;
}

.right_bl .bxslider li {
    background-color: #fff;
    height: 363px;
    text-align: center;
    padding-top: 20px;
}

.right_bl .bxslider li p {
    font-family: Arial;
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 132px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.1;
}

.right_bl .bxslider li span {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
}

.right_bl .bxslider li span b {
    font-family: Arial;
    font-size: 27px;
    color: #69ae7c;
    margin-right: 5px;
}

.right_bl .bx-viewport {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
}

.bx-wrapper .bx-prev,
.bx-wrapper .bx-prev:hover {
    left: -37px;
    background: url(../img/slider_ars.jpg) no-repeat 0 0px;
}

.bx-wrapper .bx-next,
.bx-wrapper .bx-next:hover {
    right: -27px;
    background: url(../img/slider_ars.jpg) no-repeat -32px 0px;
}

.bx-wrapper .bx-controls-direction a {
    height: 64px;
    z-index: 2;
}

.bxslider .timer {
    display: inline-block;
    width: 100%;
    vertical-align: bottom;
    border-top: 1px solid #C8DBE3;
}

.bxslider .timer h3 {
    font-size: 13px;
    margin-top: 5px;
    text-align: center;
}

.timer .clockdiv > div {
    display: inline-block;
    margin-top: 5px;
}

.timer .clockdiv > div >span {
    padding-top: 6px;
    padding-bottom: 9px;
    padding-left: 7px;
    background-color: #D7E8EF;
    font-size: 18px;
    color: #303030;
    letter-spacing: 7px;
    margin: 0;
}

.timer .clockdiv .smalltext {
    font-size: 11px;
}

.main_seacrh_block {
    background: #7889B3;
    height: 163px;
    color: #fff;
}

.main_seacrh_block h2 {
    font-family: "RobotoBold";
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 23px;
}

.main_seacrh_block .seacrh_block {
    padding-top: 27px;
}

.main_block_search_form label {
    display: inline-block;
    font-size: 13px;
    font-family: "RobotoBold";
    text-transform: uppercase;
    width: 360px;
    margin-right: 20px;
    margin-bottom: 13px;
}

.main_block_search_form label:nth-child(2) {
    margin-right: 10px;
}

.main_block_search_form input {
    display: inline-block;
    width: 360px;
    height: 40px;
    border: none;
    padding-left: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.main_block_search_form #m_search_what {
    margin-left: 0;
}

.main_block_search_form .how_much {
    width: 140px;
    margin-right: 3px;
    margin-left: 3px;
}

.main_block_search_form .m_search__submit {
    width: 120px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    text-align: center;
    font-family: "RobotoBold";
    font-size: 12px;
    text-transform: uppercase;
    background-color: #EF6729;
    cursor: pointer;
    margin-right: 0;
    transition: all 0.3s;
    padding: 0;
    vertical-align: top;
}

.m_search__submit:hover {
    background-color: #ef5429;
    transition: all 0.3s;
}

.m_search__submit:active {
    transform: translate(0, 2px);
    transition: all 0.3s;
}

.main_block_search_form span {
    font-size: 22px;
    font-weight: bold;
}

.production_block {
    height: 535px;
    background-color: #E9ECED;
}

.prod_block {
    padding-top: 60px;
}

.prod_block .tabs__caption li {
    display: inline-block;
    width: 200px;
    height: 44px;
    line-height: 42px;
    margin-right: 10px;
    color: #303030;
    font-size: 13px;
    font-family: "RobotoBold";
    text-transform: uppercase;
    border-radius: 4px;
    border: 1px solid #C0CACD;
    text-align: center;
    cursor: pointer;
    margin-bottom: 15px;
    transition: all 0.3s;
}

.prod_block .tabs__caption li:hover {
    border: 1px solid #758a90;
    transition: all 0.3s;
}

.prod_block .tabs__caption li.active {
    background-color: #647CA2;
    color: #fff;
    transition: all 0.3s;
}

.prod_block .tabs__caption li.active:hover {
    background-color: #486ca5;
    transition: all 0.3s;
}

.prod_block .tabs__content ul li {
    display: inline-block;
    width: 285px;
    height: 370px;
    background-color: #fff;
    margin-right: 11px;
    text-align: center;
}

.prod_block .tabs__content ul li img {
    width: 100%;
}

.prod_block .tabs__content {
    display: none;
}

.prod_block .tabs__content.active {
    display: block;
}

.prod_block .tabs__content li p {
    font-family: Arial;
    font-size: 13px;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 132px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.1;
}

.prod_block .tabs__content li span {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
}

.prod_block .tabs__content li span b {
    font-family: Arial;
    font-size: 27px;
    color: #69ae7c;
    margin-right: 5px;
}

.banner_block {
    height: 500px;
    background: #516280;
}

.bnr_block {
    text-align: center;
    color: #fff;
    padding-top: 170px;
    height: 500px;
    -webkit-background-size: contain;
    background-size: contain;
}

.bnr_descr {
    display: inline-block;
}

.bnr_block h2 {
    font-size: 47px;
    font-family: "RobotoBold";
    text-transform: uppercase;
    margin-bottom: 20px;
}

.bnr_block p {
    font-size: 18px;
}

.banner_mnu_block {
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #C4CFE1;
}

.banner_mnu_block .mnu_list {
    text-align: center;
    position: relative;
}

.banner_mnu_block .mnu_list li {
    display: inline-block;
    width: 24.5%;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.banner_mnu_block .mnu_list li:hover {
    text-decoration: underline;
}

.banner_mnu_block .mnu_list .active:before {
    content: "";
    display: block;
    position: absolute;
    left: 49%;
    top: -10px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid #fff;
}

.banner_mnu_block .mnu_list li:after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    top: 8px;
    right: 0;
    height: 28px;
    background-color: #C4CFE1;
}

.banner_mnu_block .mnu_list li:last-child:after {
    display: none;
}

.banner_mnu_block .mnu_list:after,
.banner_mnu_block .mnu_list:before {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    top: 8px;
    height: 28px;
    background-color: #C4CFE1;
}

.banner_mnu_block .mnu_list:before {
    left: 0;
}

.banner_mnu_block .mnu_list:after {
    right: 0;
}

.bottom_block {
    background: #E9ECED;
    height: 550px;
}

.btm_block {
    padding-top: 45px;
}

.btm_block_1 {
    display: inline-block;
    width: 380px;
    vertical-align: top;
}

.bottom_block h3 {
    font-size: 18px;
    font-family: "RobotoBold";
    text-transform: uppercase;
    margin-bottom: 20px;
}

.bottom_block h4 {
    font-size: 16px;
    font-family: "RobotoBold";
    margin-bottom: 15px;
}

.bottom_block .btm_block_date {
    font-size: 12px;
    font-family: "RobotoItalic";
    color: #656565;
    margin-bottom: 15px;
}

.bottom_block .btm_block_text {
    color: #656565;
    font-size: 13px;
    margin-bottom: 30px;
    line-height: 1.4;
    width: 340px;
}

.news_img {
    float: left;
    margin-right: 15px;
    margin-bottom: 70px;
}

.btm_block_2 {
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
}

.btm_block_2_list {
    padding-left: 10px;
}

.btm_block_2_list li {
    margin-bottom: 7px;
}

.btm_block_2_list li a {
    display: inline-block;
    height: 100%;
    color: #303030;
    font-size: 12px;
    position: relative;
}

span.green {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #61A96D;
    margin-right: 5px;
    border-radius: 50%;
}

span.red {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #DE6A6A;
    margin-right: 5px;
    border-radius: 50%;
}

.rate {
    position: relative;
    padding-left: 25px;
    margin-left: 10px;
    color: #647CA2;
}

.btm_block_2_list li a .rate:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -12px;
    width: 25px;
    height: 25px;
    background: url(../img/sprite1.png) no-repeat -172px 50%;
}

.btm_block_3 {
    display: inline-block;
    vertical-align: top;
    margin-left: 18%;
}

.review {
    margin-bottom: 30px;
}

.review_title {
    font-size: 13px;
    color: #656565;
    margin-bottom: 7px;
    line-height: 1.5;
}

.review_nick {
    font-size: 14px;
    color: #303030;
    margin-bottom: 5px;
}

.review_info {
    font-size: 13px;
    color: #303030;
    text-decoration: underline;
    line-height: 1.4;
}

.review_list .rate {
    display: none;
}

.review_title img {
    display: none;
}

.work_process_block {
    background-color: #7EA6D3;
}

.wrk_block {
    padding-top: 40px;
    position: relative;
    height: 250px;
}

.wrk_block .wrk_list li {
    display: inline-block;
    vertical-align: top;
    width: 270px;
    color: #303030;
    font-family: "RobotoBold";
    background: url(../img/wrk/wrk_arw.png) no-repeat 91% 0%;
}

.wrk_block .wrk_list li:last-child {
    background: none;
}

.wrk_block .wrk_list li p {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    margin-top: 30px;
    padding-left: 3px;
    line-height: 1.35;
}

.wrk_block .notice {
    font-size: 12px;
    color: #fff;
    position: absolute;
    bottom: 25px;
    left: 50%;
    margin-left: -250px;
}

.mobile_icons {
    display: none;
}

.mobile_icons.open {
    display: none;
}


/*=======================================footer======================================*/

.footer {
    background: #F6F6F6;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 164px;
    padding-top: 30px;
}

.foot_list {}

.foot_list li {
    width: 24.5%;
    margin-bottom: 12px;
    float: left;
    display: inline;
    color: #627491;
}


/*=======================================footer_____End======================================*/


/*======= breadcrumbs=======*/

.breadcrumbs {
    height: 63px;
    line-height: 63px;
}

.breadcrumbs li {
    display: inline;
    margin-right: 6px;
    color: #6d6d6d;
    font-size: 13px;
}

.breadcrumbs .prevCrumb:hover {
    text-decoration: underline;
}

.breadcrumbs a {
    color: #6d6d6d;
    font-size: 13px;
}


/*======= breadcrumbs__End=======*/

.page_bg {
    background-color: #E9ECED;
}

.left_aside {
    display: inline-block;
    width: 280px;
    vertical-align: top;
}

.left_aside_header {
    background-color: #516586;
    color: #fff;
    padding: 20px;
}

.left_aside_header h4 {
    font-size: 18px;
}

.left_aside_header h4 span {
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-size: 13px;
    color: #7ba8f0;
    margin-left: 28px;
}

.left_aside_header h4 span:before {
    content: "";
    display: block;
    position: absolute;
    left: -25px;
    top: 50%;
    margin-top: -12px;
    width: 25px;
    height: 25px;
    background: url(../img/sprite1.png) no-repeat -172px 50%;
}

.left_aside_header__location {
    color: #80b0fc;
    margin-top: 3px;
}

.left_aside_header__location img {
    vertical-align: text-top;
    margin-right: 7px;
    margin-top: 3px;
}

.left_aside_header__personal {
    color: #b1c5e5;
    font-size: 12px;
    margin-top: 20px;
}

.personal__img {
    display: inline-block;
    width: 100px;
    height: 100px;
}

.personal__img img {
    width: 100%;
}

.personal__info {
    display: inline-block;
    vertical-align: top;
    padding-left: 8px;
}

.personal__info p {
    margin-bottom: 8px;
}

.personal__info p:first-child {
    margin-bottom: 5px;
}

.personal__info .personal_big {
    font-size: 18px;
    color: #fff;
    margin-top: -5px;
    margin-bottom: 7px;
}

.left_aside_menu {
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 85px;
    background-color: #fff;
}

.left_aside_menu_list > li {
    border-bottom: 1px solid #D6DADC;
    position: relative;
}

.left_aside_menu_list > li:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -2.5px;
    width: 10px;
    height: 5px;
    background: url(../img/arrow_down_sm.png) no-repeat 50%;
    transition: all 0.2s;
}

.left_aside_menu_list > li.open:after {
    top: 15px;
    transform: rotate(-180deg);
    transition: all 0.2s;
}

.left_aside_menu_list > li:last-child {
    border: none;
}

.left_aside_menu_list .lvl1 a {
    height: 35px;
    line-height: 35px;
    font-size: 13px;
    text-transform: uppercase;
    font-family: "RobotoBold";
}

.left_aside_menu_list .left_aside_menu_lvl2 a {
    font-size: 12px;
    text-transform: none;
    padding-left: 28px;
    height: 30px;
    line-height: 30px;
}

.left_aside_menu_list .lvl1 img {
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 3px;
}

.left_aside_menu_list li a {
    display: block;
    height: 100%;
    color: #303030;
}

.left_aside_menu_lvl2 {
    display: none;
    padding-bottom: 7px;
}

.content_block {
    display: inline-block;
    width: 74.5%;
    background-color: #fff;
    margin-left: 20px;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.content_block h2 {
    font-size: 18px;
    text-transform: uppercase;
    font-family: "RobotoBold";
    padding-bottom: 20px;
    border-bottom: 1px solid #D6DADC;
    margin-bottom: 25px;
}

.change_email_form label,
.change_pass_form label {
    display: block;
    text-align: left;
    position: relative;
    height: 35px;
    line-height: 35px;
    width: 60%;
    margin-bottom: 20px;
}

.change_email_form label input,
.change_pass_form label input {
    width: 320px;
    height: 35px;
    border: 1px solid #C9D2D9;
    position: absolute;
    right: 0;
    top: 0;
    padding-left: 10px;
}

.change_email_form .change_email_form_submit,
.change_pass_form .change_email_form_submit,
.change_email_form_submit {
    width: 145px;
    height: 40px;
    background-color: #EF6729;
    color: #fff;
    text-transform: uppercase;
    border: none;
    font-family: "RobotoBold";
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
    cursor: pointer;
    transition: all 0.3s;
}

.change_email_form .change_email_form_submit:hover,
.change_pass_form .change_email_form_submit:hover,
.change_email_form_submit:hover {
    background-color: #ef5429;
    transition: all 0.3s;
}

.change_email_form .change_email_form_submit:active,
.change_pass_form .change_email_form_submit:active,
.change_email_form_submit:active {
    transform: translate(0, 2px);
    transition: all 0.3s;
}


/*enter_page*/

.enter_page {
    padding-top: 100px;
    padding-bottom: 100px;
}

.enter_page h1 {
    font-size: 16px;
    line-height: 1.25;
}

.enter_page_content {
    text-align: center;
}

.enter_page_form {
    display: inline-block;
    margin-top: 25px;
    text-align: left;
    width: 320px;
}

.enter_page_form label {
    display: block;
    width: 100%;
    font-size: 13px;
    margin-bottom: 20px;
}

.enter_page_form .email_login_input,
.enter_page_form .password_input {
    display: block;
    width: 100%;
    height: 35px;
    border: 1px solid #C9D2D9;
    margin-top: 10px;
}

.enter_page_form .enter_page_form_submit {
    display: block;
    width: 145px;
    height: 40px;
    background-color: #EF6729;
    color: #fff;
    text-transform: uppercase;
    border: none;
    font-family: "RobotoBold";
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 30px;
    margin-bottom: 50px;
}

.enter_page_form .enter_page_form_submit:hover {
    background-color: #ef5429;
    transition: all 0.3s;
}

.enter_page_form .enter_page_form_submit:active {
    transform: translate(0, 2px);
    transition: all 0.3s;
}

.enter_form_soc_block {
    width: 260px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px;
}

.enter_form_soc_block h4 {
    text-align: center;
    font-size: 14px;
}

.enter_page_form_soc li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 15px;
}

.enter_page_register h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.enter_page_register {
    margin-bottom: 50px;
}

.enter_page_register p {
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.enter_page_register .button_register {
    display: block;
    border: none;
    width: 145px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    background-color: #647CA2;
    color: #fff;
    font-family: "RobotoBold";
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
}

.enter_page_register .button_register:hover {
    background-color: #3665af;
    transition: all 0.3s;
}

.enter_page_register .button_register:active {
    transform: translate(0, 3px);
}


/*================================change_phone=============================*/

.change_phone_form h5 {
    font-size: 12px;
}

.change_phone_form label {
    display: block;
    font-family: "RobotoBold";
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 20px;
}

.change_phone_form .password_input {
    display: block;
    width: 340px;
    height: 35px;
    border: 1px solid #C9D2D9;
    margin-top: 15px;
    margin-bottom: 12px;
    padding-left: 10px;
}

.change_phone_descr {
    font-size: 11px;
    line-height: 1.2;
    margin-bottom: 20px;
}


/*==============================pro_acc==============================*/

.pro_acc {
    margin-bottom: 25px;
}

.pro_acc h3 {
    font-family: "RobotoBold";
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 20px;
}

.pro_acc .pro_acc_text {
    width: 84%;
    line-height: 1.2;
}

.pro_acc_types li {
    display: inline-block;
    width: 27%;
    margin-right: 7px;
    background-color: #E7EFFA;
    border: 1px solid #516586;
    text-align: center;
}

.pro_acc_types li h6 {
    font-family: "RobotoBold";
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    line-height: 43px;
    background-color: #516586;
    margin-bottom: 45px;
}

.pro_acc_types li span {
    font-size: 18px;
}

.pro_acc_types li span b {
    font-family: "RobotoBold";
    font-size: 36px;
    color: #647ca2;
}

.pro_acc_order {
    display: block;
    width: 62%;
    height: 40px;
    background-color: #EF6729;
    color: #fff;
    text-transform: uppercase;
    border: none;
    font-size: 12px;
    font-family: "RobotoBold";
    text-align: center;
    margin-top: 40px;
    margin-bottom: 18px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: all 0.3s;
}

.pro_acc_order:hover {
    background-color: #ef5429;
    transition: all 0.3s;
}

.pro_acc_order:active {
    transform: translate(0, 2px);
    transition: all 0.3s;
}


/*   ================ balance_history================*/

.balance_history {
    margin-top: -15px;
    margin-bottom: 25px;
}

.balance_history_th {
    background-color: #647CA2;
    font-size: 11px;
    font-family: "RobotoBold";
    text-transform: uppercase;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

.balance_history_tr {
    padding-left: 10px;
    padding-right: 10px;
}

.balance_history_th li,
.balance_history_tr li {
    display: inline-block;
    height: 37px;
    line-height: 37px;
}

.balance_history_th .col_1,
.balance_history_tr .col_1 {
    width: 20%;
}

.balance_history_th .col_2,
.balance_history_tr .col_2 {
    width: 58%;
}

.balance_history_th .col_3,
.balance_history_tr .col_3 {
    width: 20%;
}

.balance_history_tr .col_1 {
    font-family: "RobotoItalic";
    font-size: 12px;
    color: #868585;
}

.balance_history_tr .col_2 {
    font-size: 12px;
}

.balance_history_tr .col_3 {
    font-size: 18px;
}

.balance_history_tr:nth-child(odd) {
    background-color: #EFF1F3;
}


/*=================personal_details=================*/

.personal_details_form h3 {
    font-size: 13px;
    font-family: "RobotoBold";
    text-transform: uppercase;
    margin-bottom: 15px;
}

.personal_details_form .personal_avatar img {
    width: 120px;
}

.personal_details_form .personal_reset {
    display: block;
    width: 120px;
    height: 26px;
    line-height: 26px;
    border: none;
    background-color: #647CA2;
    color: #fff;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: all 0.3s;
    cursor: pointer;
}

.input_hide {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

label[for="upload"] {
    display: block;
    width: 120px;
    height: 26px;
    line-height: 26px;
    border: none;
    background-color: #647CA2;
    color: #fff;
    text-align: center;
    font-size: 12px;
    transition: all 0.3s;
    cursor: pointer;
}

label[for="upload"]:hover,
.personal_details_form .personal_reset:hover {
    background-color: #3665af;
    transition: all 0.3s;
}

label[for="upload"]:active,
.personal_details_form .personal_reset:active {
    transform: translate(0, 3px);
}

.personal_details_text {
    width: 290px;
    line-height: 1.4;
    font-size: 10px;
    margin-top: 7px;
    margin-bottom: 30px;
}

.personal_submit {
    display: block;
    width: 140px;
    height: 40px;
    background-color: #EF6729;
    color: #fff;
    text-transform: uppercase;
    border: none;
    font-size: 13px;
    font-family: "RobotoBold";
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.personal_submit:hover {
    background-color: #ef5429;
    transition: all 0.3s;
}

.personal_submit:active {
    transform: translate(0, 2px);
    transition: all 0.3s;
}

.personal_text_input {
    /* resize: none;*/
    width: 340px;
    overflow: hidden;
    border: 1px solid #C9D2D9;
    padding: 10px;
}

.personal_text_descr {
    font-size: 10px;
    margin-top: 10px;
}

.personal_details {
    padding-bottom: 30px;
}


/*=======================act_lot=======================*/

.lot_item__img {
    display: inline-block;
    vertical-align: top;
    width: 45px;
    padding-top: 5px;
}

.lot_item__img img {
    width: 100%;
}

.lot_item_text {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    padding-top: 5px;
}

.lot_item_text h4 {
    font-family: "RobotoBlack";
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 2px;
}

.lot_item_num {
    font-size: 11px;
}

.lot_item_bcrumbs {
    color: #647ca2;
    margin-top: 6px;
    margin-bottom: 10px;
    font-size: 11px;
}

.lot_item_bcrumbs a {
    display: inline-block;
    color: #647ca2;
}

.lot_item_bcrumbs a:hover {
    color: #303030;
    text-decoration: underline;
}

.lot_item_bcrumbs a:after {
    display: inline-block;
    content: "/";
    margin-left: 3px;
}

.lot_item_text .lot_item_bcrumbs a:hover:after {
    text-decoration: none;
    color: #647ca2;
}

.lot_item_text .location {
    display: inline-block;
    color: #647ca2;
    font-size: 12px;
    margin-bottom: 10px;
}

.lot_item_text .location img {
    vertical-align: text-top;
}

.lot_item_text .barg {
    display: inline-block;
    color: #303030;
    font-size: 12px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.lot_item_text .barg img {
    vertical-align: sub;
    margin-right: 3px;
}

.act_lot_item {
    border-bottom: 1px solid #D6DADC;
    margin-top: -20px;
    margin-bottom: 25px;
}

.act_lot_item:last-child {
    border: none;
    margin-bottom: 0;
}

.lot_item_price {
    display: inline-block;
    vertical-align: top;
    font-family: "RobotoBlack";
    margin-left: 15%;
}

.lot_item_price span b {
    font-size: 24px;
    color: #69ae7c;
}

.lot_item_star_btn {
    display: block;
    float: right;
}

.lot_item_star_btn img {
    vertical-align: top;
}


/*====================pers_cabt====================*/

.pers_cabt {
    margin-top: -10px;
}

.pers_cabt_item {
    padding-bottom: 10px;
    border-bottom: 1px solid #D6DADC;
    list-style: none;
    margin-bottom: 10px;
}

.pers_cabt_item:last-child {
    border: none;
}

.pers_cabt_item h4 {
    font-size: 13px;
    margin-bottom: 10px;
}

.pers_cabt_item .nickname {
    text-transform: uppercase;
}

.pers_cabt_item .nickrate {
    display: inline-block;
    color: #647CA2;
}

.pers_cabt_item .nickrate:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 3px;
    margin-left: 4px;
    margin-right: -3px;
    width: 25px;
    height: 25px;
    background: url(../img/sprite1.png) no-repeat -172px 50%;
}

.nickname_descr {
    font-family: "RobotoItalic";
    color: #737373;
    padding-left: 3px;
}

.pers_cabt_item_left {
    display: inline-block;
    width: 45%;
}

.pers_cabt_review {
    font-size: 13px;
    line-height: 1.3;
}

.pers_cabt_review__img {
    float: left;
    clear: both;
    margin-right: 7px;
}

.pers_cabt_item_right {
    display: inline-block;
    margin-left: 9%;
    max-width: 45%;
    font-size: 13px;
    line-height: 1.4;
}

.pers_cab_date_lot {
    color: #647ca2;
}

.pers_cabt_item_bottom {
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #D6DADC;
    font-size: 13px;
}

.pers_cabt_item_bottom .pers_cab_date_from {
    margin-bottom: 5px;
    margin-top: 15px;
}

.pers_cabt {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 70px solid #E9ECED;
}


/*=====================refill balance=====================*/

.refill_balance_form .refill_input {
    display: inline-block;
    width: 320px;
    height: 35px;
    border: 1px solid #C9D2D9;
    padding-left: 15px;
    margin-top: 13px;
    margin-bottom: 25px;
}

.refill_atten {
    font-size: 12px;
}

.refill_summ {
    font-family: "RobotoBold";
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 20px;
}

.refill_method {
    font-family: "RobotoBold";
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.refill_balance_form label span {
    font-size: 13px;
    margin-left: 5px;
}


/* radio*/

.refill_balance_form input[type="radio"]:not(:checked),
input[type="radio"]:checked {
    position: absolute;
    left: -9999px;
}

.refill_balance_form input[type="radio"]:not(:checked) + label,
.refill_balance_form input[type="radio"]:checked + label {
    position: relative;
    padding-left: 22px;
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
}

.refill_balance_form input[type="radio"]:not(:checked) + label:before,
.refill_balance_form input[type="radio"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: -5px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #EF6729;
    margin-top: 3px;
    transition: all 0.3s;
}

.refill_balance_form input[type="radio"]:not(:checked) + label:after,
.refill_balance_form input[type="radio"]:checked + label:after {
    content: '●';
    position: absolute;
    top: -1px;
    left: 3px;
    font-size: 16px;
    line-height: 0.8;
    color: #fff;
    transition: all .2s;
}

.refill_balance_form input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}

.refill_balance_form input[type="radio"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}

.refill_balance_form input[type="radio"]:not(:checked) + label:hover:before,
.refill_balance_form input[type="radio"]:checked + label:hover:before {
    background-color: #d45218;
}


/*end radiobuttons*/

.refill_form_submit {
    display: block;
    position: relative;
    width: 145px;
    height: 40px;
    background: #EF6729 url(../img/refill_arw.png) no-repeat 89% 50%;
    color: #fff;
    text-transform: uppercase;
    border: none;
    font-family: "RobotoBold";
    text-align: left;
    padding-left: 25px;
    margin-top: 30px;
    margin-bottom: 40px;
    cursor: pointer;
    transition: all 0.3s;
}

.refill_form_submit:hover {
    background-color: #ef5429;
    transition: all 0.3s;
}

.refill_form_submit:active {
    transform: translate(0, 2px);
    transition: all 0.3s;
}


/*=====================all_my_rew=====================*/

.all_my_rew_list {
    margin-top: -30px;
}

.all_my_rew_list li {
    padding-top: 10px;
    padding-bottom: 7px;
    border-bottom: 1px solid #D6DADC;
}

.all_my_rew_list li:last-child {
    border-bottom: none;
}

.all_my_rew_list .nickrate {
    display: inline-block;
    color: #647CA2;
}

.all_my_rew_list .nickrate:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 3px;
    margin-left: 4px;
    margin-right: -3px;
    width: 25px;
    height: 25px;
    background: url(../img/sprite1.png) no-repeat -172px 50%;
}

.all_my_rew_list .nickname_descr {
    font-size: 13px;
}

.rew_list_left {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

.rew_list_right {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    text-align: right;
    font-size: 12px;
    line-height: 1.4;
}

.rew_list_date {
    display: block;
    text-align: left;
    margin-bottom: 3px;
    margin-top: 5px;
    font-family: "RobotoItalic";
    color: #737373;
}

.rew_list_lot {
    display: block;
    text-align: left;
    color: #647ca2;
}


/*===========my_settings===========*/
.my_settings h4 {
    text-transform: uppercase;
    font-size: 13px;
        font-family: "RobotoBold";
        margin-bottom: 15px;
}
.settings_city {
    display: inline-block;
    vertical-align: top;
    height: 40px;
    line-height: 40px;
    width: 340px;
    background-size: 13px;
    border: 1px solid #C9D2D9;
    position: relative;
}
.settings_city:after {
    content: "";
    display: block;
    width: 10px;
    height: 6px;
     background: url(../img/arrow_down_md.png) no-repeat;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -3px;
    z-index: 0;
    cursor: pointer;
      transition: all 0.2s;
}
.settings_city.open:after {
    transform:rotate(-180deg);
      transition: all 0.2s;
}
.settings_city select {
    padding: 10px;
    padding-left: 13px;
    width: 100%;
    border: none;
    box-shadow: none;
    font-size: 13px;
    background-color: transparent;
    background-image: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.settings_city select:focus {
    outline: none;
}
.settings_city_notice {
    font-size: 10px;
    line-height: 1.5;
    margin-top: 10px;
}